.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:aqua;
    font-size: 32px;
}

.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
}